@font-face {
    font-family: 'MyCustomFont';
    src: url('font/plain-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('font/plain-regular-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/silkserif-lightitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont';
    src: url('font/silkserif-regularitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: "plain Light";
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    cursor: none;
}
#crsr{
    height: 2.1rem;
    width: 2.1rem;
    background-color: transparent;
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    transition: transform 0.1s ease-out;
    box-shadow: 0 0 0 0.6px rgba(255, 255, 255,0.8);
    pointer-events: none;
    mix-blend-mode: difference;
    transition: scale 0.2s ease;
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #030303;
    position: fixed;
    z-index: 999;
    padding: 20vh 5vw;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items:start;
    gap: 2vw;
}
#loading-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
#loading-part1 h5,#loading-part1 h6{
    font-weight: 100;
    font-size: 4vw;
    font-family: "Silk Serif";
    text-align: right;
}
#loading-part1 h5{
    width: 5vw;
}
.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 900;
}
#nowLine{
    display: flex;
    align-items: center;
}
.line h2{
    font-size: 5.4vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: nowAnime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes nowAnime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif", serif;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #030303;
}
#page01{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#nav{
    font-size: 2.1vh;
    display: flex;
    width: 100%;
    /* padding: 8vh 5.5vw 8vh 0; */
}
#nav-part1{
    padding: 3.5vw 0 8vw 5.5vw;
    width: 28%;
}
#nav-part2{
    padding: 3.5vw 5.5vw 8vw 0;
    display: flex;
    width: 72%;
    justify-content: space-between;
}
#header-title p{
    line-height: 2.1vh;
}
#nav #nav-part2 ul{
    display: flex;
    list-style: none;
    gap: 2.3vw;
}
#hero-section{
    margin-top: 2.1vw;
}
.hero {
    width: 72%;
    margin-left: 28%;
    overflow: hidden;
    height:fit-content;
    display: flex;
    align-items: center;
    /* position: relative; */
    /* z-index: 9999; */
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 700;
    line-height: 7.2vw;
}
#hero3 h3{
    font-size: 6.2vw;
}
.hero h2 {
    font-size: 7.2vw;
    font-weight: 700;
    line-height: 7.2vw;
    text-decoration: underline;
    color: #fff; 
    -webkit-text-stroke: 0px;
    transition: -webkit-text-stroke 0.3s ease, color 0.3s ease; /* Control only these */
}

.hero h2:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-decoration: none;
    font-weight: 500;
}
#page02{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 20vh;
    position: relative;
}
#video-container{
    height: 70vh;
    width: 72%;
    position: relative;
    left:28%;
}
#video-container img{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-cursor{
    height: 8.5vw;
    width: 8.5vw;
    background-color: #FFA63D;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    top: -10%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-cursor i{
    font-size: 2vw;
}